MONEDERO_DIGITAL_APP/MONEDERO_DIGITAL_APP_CLIENTE/src/main/resources/wsdl/pagoCompras.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="PagoComprasImpService" targetNamespace="http://pago.modi.ing.ud/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pago.modi.ing.ud/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://pago.modi.ing.ud/" version="1.0" xmlns:tns="http://pago.modi.ing.ud/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="pagarCompra" type="tns:pagarCompra"/>
            <xs:element name="pagarCompraResponse" type="tns:pagarCompraResponse"/>
            <xs:element name="validarDatosCompra" type="tns:validarDatosCompra"/>
            <xs:element name="validarDatosCompraResponse" type="tns:validarDatosCompraResponse"/>
            <xs:complexType name="pagarCompra">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codMonedero" type="xs:string"/>
                    <xs:element minOccurs="0" name="codTienda" type="xs:string"/>
                    <xs:element minOccurs="0" name="codCompra" type="xs:string"/>
                    <xs:element minOccurs="0" name="valorCompra" type="xs:string"/>
                    <xs:element minOccurs="0" name="nickCliente" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pagarCompraResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validarDatosCompra">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codMonedero" type="xs:string"/>
                    <xs:element minOccurs="0" name="nickCliente" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validarDatosCompraResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validarDatosCompra">
        <wsdl:part element="tns:validarDatosCompra" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pagarCompra">
        <wsdl:part element="tns:pagarCompra" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validarDatosCompraResponse">
        <wsdl:part element="tns:validarDatosCompraResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pagarCompraResponse">
        <wsdl:part element="tns:pagarCompraResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PagoCompras">
        <wsdl:operation name="pagarCompra">
            <wsdl:input message="tns:pagarCompra" name="pagarCompra">
            </wsdl:input>
            <wsdl:output message="tns:pagarCompraResponse" name="pagarCompraResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validarDatosCompra">
            <wsdl:input message="tns:validarDatosCompra" name="validarDatosCompra">
            </wsdl:input>
            <wsdl:output message="tns:validarDatosCompraResponse" name="validarDatosCompraResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PagoComprasImpServiceSoapBinding" type="tns:PagoCompras">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="pagarCompra">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="pagarCompra">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pagarCompraResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validarDatosCompra">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="validarDatosCompra">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validarDatosCompraResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PagoComprasImpService">
        <wsdl:port binding="tns:PagoComprasImpServiceSoapBinding" name="PagoComprasImpPort">
            <soap:address location="http://192.168.1.17:8080/MONEDERO_DIGITAL_APP_WS/pagoCompras"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>